/* Color schemes for light and dark mode */
:root {
    color-scheme: light dark;
  }
  
  @media (prefers-color-scheme: dark) {
    body { background: #333; color: #ddd; }
    .navbar {
      background-color: inherit;
    }
    .navbar button {
      background-color: #573988;
      color: #ddd;
    }
    .navbar button:hover {
      background-color: #5f3f94;
      color: #ddd;
    }
    .navbar button.active {
      background-color: rgb(14, 145, 168);
      color: #ddd;
    }
    /* Dropdown button */
    .dropdown .dropbtn {
      color: #ddd;
      background-color: #573988;
    }
    /* Dropdown content (hidden by default) */

    /* Links inside the dropdown */
    .dropdown-content button {
      color: #ddd;
    }

    /* Add a grey background color to dropdown links on hover */
  }
  
  @media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
    .navbar {
      background-color: inherit;
    }
    .navbar button {
      background-color: #573988;
      color: #ddd;
    }
    .navbar button:hover {
      background-color: #5f3f94;
      color: #ddd;
    }
    .navbar button.active {
      background-color: rgb(14, 145, 168);
      color: #ddd;
    }
    /* Dropdown button */
    .dropdown .dropbtn {
      color: #ddd;
      background-color: #573988;
    }
    /* Dropdown content (hidden by default) */

    /* Links inside the dropdown */
    .dropdown-content button {
      color: #ddd;
    }

    /* Add a grey background color to dropdown links on hover */
  }

/* General, global size settings */
html, body {
  height: 99%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 600px;
}

/* Scrollbar styling for main window */
body::-webkit-scrollbar, webview::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track, webview::-webkit-scrollbar-track {
  background: inherit;
}

body::-webkit-scrollbar-thumb, webview::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover, webview::-webkit-scrollbar-thumb:hover {
  background: #292929;
}

/* Title bar (logo and window control buttons) */
.title-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
  align-items: center;
  font-family: inherit;
  padding: 5px;
}

.title-bar-buttons {
  position: absolute;
  top: 5px;
  right: 10px;
}

.title-bar-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  height: 20px;
  width: 20px;
  outline: none;
}

.title-bar-buttons button:hover {
  background-color: #ddd;
}

.gearicon {
  height: 10px;
  width: 10px;
}

/* Portion of title bar that is draggable, contains logo and is to the left of the window control buttons */
.drag-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  width: 88%;
  height: 20px;
  top: 0px;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 20px;
  width: 20px;
}

/* Navbar settings */
.navbar {
  overflow: hidden;
}

.navbar button {
  cursor: pointer;
  float: left;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  border: none;
  outline: none;
}

.leftmost-button {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.rightmost-button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Dropdown button and content settings, part of navbar */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 12px 14px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  cursor: pointer;
  float: none;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  outline: none;
  font-family: inherit;
  width: 99%;
  font-size: 16px;
  margin: 0;
}

.bottommost-button {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button for settings */
.settings-dropdown {
  float: left;
  overflow: hidden;
}

.settings-dropdown:hover .settings-dropdown-content {
  display: block;
}

.settings-dropdown .settings-dropbtn {
  font-size: 10px;
  border: none;
  outline: none;
  padding: 6px 8px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.settings-dropdown-content {
  display: none;
  position: absolute;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.settings-dropdown-content button {
  float: none;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: none;
  outline: none;
  background-color: #573988;
  color: #ddd;
  font-family: inherit;
  width: 99%;
  font-size: 10px;
  margin: 0;
}

/* Styling for add-game settings form */
.content-container {
  height: 85%;
}
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #573988;
  margin: 20px auto; /* 15% from the top and centered */
  width: 50%; /* Could be more or less, depending on screen size */
  border: none;
  outline: none;
  border-radius: 12px;
}

.game-form-title {
  color: #ddd;
  text-align: center;
}

.container input {
  color: #ddd;
  border-radius: 12px;
  opacity: 80%;
  border: none;
  outline: none;
}

.container button {
  cursor: pointer;
  color: #ddd;
  background-color: #573988;
  border-radius: 12px;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  font-family: inherit;
  border: none;
  outline: none;
}

.container button:hover {
  cursor: pointer;
  color: #ddd;
  background-color: #5f3f94;
  border-radius: 12px;
  border: none;
  outline: none;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 

/* Full-width inputs */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

webview {
  width: 99%;
  height: 99%;
  display: inline-flex;
  resize: vertical;
  overflow: hidden;
}